- semantic_form_for(person) do |form|
  - form.inputs do
    = form.input :name, :label => 'Name'
    = form.input :cas_user, :label => 'CAS username'
    = form.input :skills, :as => :check_boxes
    = form.buttons