= render :partial => "form", :locals => {:skill => @skill}
- content_for :context_navigation do
  %h2= @skill.name
  %p= link_to 'Delete this skill', @skill, :confirm => 'Are you sure?', :method => :delete