%table{:class => 'list'}
  %tr
    %th Name
    %th Actions
  - unless @skills.empty?
    - @skills.each do |skill|
      %tr
        %td= link_to skill.name, edit_skill_path(skill)
        %td= link_to 'Destroy', skill, :confirm => 'Are you sure?', :method => :delete
  - else
    %tr
      %td{:colspan => 3} There are no skills to show yet.

%br

= will_paginate(@skills)

- content_for :smart_navigation do
  = link_to 'Create a new skill', new_skill_path