- content_tag_for :div, @skill do
  %ul
    %li
      %strong Name:
      =h @skill.name
- content_for :context_navigation do
  %h2= @skill.name
  %p= link_to 'Edit this skill', edit_skill_path(@skill)
  %p= link_to 'Delete this skill', @skill, :confirm => 'Are you sure?', :method => :delete